body {
  margin: 0;
  padding: 0;
}
.fondo-negro {
background-image: url(../assets/images/food.png);
background-repeat: no-repeat;
background-size: 100%;
height: 100vh;
background-position: center;
}

.logo {
  color: white;
  font-size: 8vh;
}

.center {
  text-align: center;
  color: #F7B617;
}

.logo1 {
  font-size: 8vh;
  font-family: 'Berkshire Swash', cursive;
}

.line {
  border-bottom: 3px solid white;
}

.map {
  margin-top: 5vh;
}

.search {
  margin-left: 12px;
  margin-top: 3px;
}

.search1 {
  background: #2B2B2B;
  border-radius: 5px;
  width: 50px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#padre {
  background: red;
}
