body {
  margin: 0;
  padding: 0;
}


.fondo-negro {
background: black ;
height:125vh;
}

.logo {
  margin-top: 45vh;
  color: white;
  font-size: 8vh;
}

.center {
  text-align: center;
  color: #F7B617;
}

.logo1 {
  font-size: 12vh;
}

.line {
  border-bottom: 3px solid white;
}

.map {
  margin-top: 5vh;
}

.search {
  margin-left: 12px;
  margin-top: 3px;
}

.search1 {
  background: #2B2B2B;
  border-radius: 5px;
  width: 50px;
}

.padding0 {
  padding: 0;

}
